{
  "extends": "eslint-config-egg",
  "root": true,
  "rules": {
    "arrow-parens": 0,
    "object-shorthand": 0,
    "prefer-const": 0,
    "no-unused-vars": 1,
    "newline-per-chained-call": 0,
    "array-bracket-spacing": 0,
    "space-before-function-paren": 0
  }
}
