.idea/
.vscode/
.DS_Store
node_modules/

logs/
temp/
npm-debug.log
yarn-error.log
*-lock.json
*-lock.yaml
yarn.lock

config/

*copy*.*
app/api-doc/mock/
app/api-doc/apis/

app/crawler/detail_0
app/crawler/detail_1
